body {
    margin: 0;
    font-family: Lato, serif;
}

.container {
    width: 100vw;
    height: 100vw;
    background: transparent linear-gradient(180deg, #bcbcbc 0%, #ffffff 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

.login-container {
    width: 50%;
}

.logo {
    width: 50%;
    margin-top: 10%;
    text-align: center;
}

input {
    border-radius: 33px;
    padding: 1em;
    margin: 1em;
    width: 50%;
    border: none;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input:focus {
    outline: none;
}

button {
    background: transparent linear-gradient(100deg, #9CC6B3 0%, #9CC6B3 100%) 0% 0% no-repeat padding-box;
    border-radius: 33px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;

    background: #576155 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #576155;
    border: 1px solid #576155;
    border-radius: 33px;

}

.hoverable_menu {
    overflow: hidden;
    margin-bottom: 10pt;
}

.hoverable_menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.hoverable_menu a:hover {
    border-bottom: 3px solid #89C1C0;
}

.hoverable_menu a.active {
    border-bottom: 3px solid #89C1C0;
}